<!-- core/templates/core/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - FarmaTech</title>
</head>
<body>
    <h1>Bem-vindo à FarmaTech</h1>
    <p>Esta é a página inicial do sistema de gerenciamento de farmácia.</p>
    <nav>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'cadastrar_funcionario' %}">Cadastrar Funcionário</a></li>
            <li><a href="{% url 'cadastrar_item_estoque' %}">Cadastrar Item em Estoque</a></li>
            <li><a href="{% url 'editar_item_estoque' id=1 %}">Editar Item em Estoque</a></li>
        </ul>
    </nav>
</body>
</html>
